* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
  scroll-behavior: smooth; /* плавная прокрутка по якорям */
}

body {
font-family: "Roboto", sans-serif;
background-color: #f0fdf4;
width: 960px;
margin: 10px auto;
}

/* header  */
.header {
background-color: #17c574;
padding: 15px 0;
}
.wrapper-header {
display: flex;
justify-content: space-around;
align-items: center;
max-width: 100%;
margin: 0 auto;
}
.header__logo {
width: 90px;
padding-left: 20px;
}
.nav-list {
display: flex;
list-style: none;
justify-content: space-between;
}
.nav a {
color: #0e0d0d;
margin-right: 10px;
text-decoration: none;
font-weight: bold;
}
